/* 列表页模块制作 */

/* 头部增加秒杀元素 */
.header {
  position: relative;
}
.header .sk {
  position: absolute;
  top: 15px;
  left: 185px;
  height: 32px;
  width: 92px;
  padding-left: 15px;
  padding-top: 3px;
  border-left: 1px solid #b1191a;
}

/* 列表页修改 */
.nav .sk_list {
  float: left;
  height: 45px;
  line-height: 45px;
}
.nav .sk_list ul li {
  float: left;
}
.nav .sk_list ul li a {
  display: block;
  width: 120px;
  font-size: 16px;
  color: #000;
  font-weight: 700;
  padding-left: 30px;
}
.nav .sk_list ul li a:hover {
  color: #c81623;
}
.nav .sk_con {
  float: left;
  height: 45px;
  line-height: 45px;
}

.nav .sk_con ul li {
  float: left;
}
.nav .sk_con ul li a {
  display: block;
  font-size: 14px;
  padding-right: 46px;
}
.nav .sk_con ul li .more::after {
  font-family: "icomoon" !important;
  content: "\e91e";
}
/* 列表页主体布局 */
.sk_container .sk_bd {
  margin-top: 25px;
}
.sk_container .sk_bd ul li {
  float: left;
  width: 300px;
  height: 460px;
}
.sk_container .sk_bd ul li:hover {
  border: 1px solid #e12228;
  border-bottom: 0px;
}
.sk_container .sk_bd ul li img {
  width: 298px;
  height: 289px;
}
.sk_container .sk_bd ul li a {
  display: -webkit-box;
  margin: 0px auto;
  margin-top: 3px;
  font-size: 14px;
  width: 268px;
  max-height: 56px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.sk_container .sk_bd ul li .price {
  height: 30px;
  width: 100%;
  line-height: 30px;
  margin-top: 10px;
}
.sk_container .sk_bd ul li .price .now {
  float: left;
  color: #e60012;
  font-size: 22px;
  margin: 0px 15px;
}
.sk_container .sk_bd ul li .price .pre {
  float: left;
  font-size: 14px;
  color: #a4a4a4;
  text-decoration: line-through;
}
.sk_container .sk_bd ul li .sale {
  height: 30px;
  line-height: 30px;
}
.sk_container .sk_bd ul li .sale h2 {
  float: left;
  font-size: 14px;
  font-weight: 400;
  margin-left: 15px;
}
.sk_container .sk_bd ul li .sale .process {
  float: left;
  width: 133px;
  height: 15px;
  border: 1px solid #e22c32;
  margin: 7px 12px 0 12px;
  border-radius: 7.5px;
}
.sk_container .sk_bd ul li .sale .process .process_in {
  width: 87%;
  height: 100%;
  background-color: #ed282e;
  border-radius: 6.5px 0 0 6.5px;
}
.sk_container .sk_bd ul li .sale p {
  float: left;
  font-size: 14px;
}
.sk_container .sk_bd ul li button {
  display: block;
  height: 55px;
  width: 95%;
  margin: 0px auto;
  font-size: 20px;
  color: #fff;
  background-color: #b1191a;
}
